.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
    background-color: #005effd3;
    
}

.piece-logo {
    margin-top: 2px;
}

.insert-button {
    color: black;
    background-color: #c07d00;
    cursor: pointer;
}