

.cards{
    font-family: Peralta, Arial, Helvetica, sans-serif;
    width: 200px;
    height: 280px;
    background: url(../../../public/papel.jpg);
    box-shadow:8px 5px 9px 0px rgba(0, 0, 0, 0.9);
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.3s ease-out;
}

.cards:hover {
    transform: translateY(-5px);
}

.wanted{
    color: #d31515;
    text-decoration:underline;
}

.name{
    margin: 10px 0px 15px;
}

.card-image{
    width: 150px;
    height: 80px;
    margin: 10px 0px 8px;
}

.cards-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}